/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}

.clickable:hover{
	cursor:pointer;
}

.bordered_blue_bottom{
	border-bottom:5px solid #1E88E5 !important;
}

.card-padding{
	padding-left: .4em !important;
	padding-right: .4em !important;
	cursor:default;
	border:1px solid #aaa;
}

.card-padding p{
	margin-bottom:.3em !important;
	margin-top:.3em !important;
	padding-bottom:.5em !important;
	padding-top:.5em !important;
	border:1px solid #ccc;
	font-size:1.75em;
}
